/* src/pages/MembersPages/Resources/Header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .title {
    color: #434649;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
  }
  
  .uploadButton {
    background-color: #0077b5;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .uploadButton:hover {
    background-color: #005f8e;
  }
  