/* Base styling for footer */
.footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75); /* Light opacity for a minimal appearance like the navbar */
    color: #0d121c; /* Deep Space Blue for text, ensuring readability on light background */
    font-family: 'Open Sans', sans-serif;
    padding: 40px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05); /* Softer shadow for consistency with the navbar */
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 200px; /* Responsive flex settings */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center alignment for neat appearance */
}

.tagline {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333; /* Darker text for contrast */
}

.footer-section a, .social-link {
    color: #333; /* Darker color for readability on light background */
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

.footer-section a:hover, .social-link:hover {
    color: Deep Space Blue; /* Primary color for interactive states */
    text-shadow: 0 0 6px rgba(0, 72, 105, 0.7); /* Subtle glow effect on hover */
}

.newsletter-signup {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.newsletter-signup input {
    flex-grow: 1;
    padding: 8px;
    border: 2px solid #0585e4; /* Blue border for input, matching button */
    background: transparent;
    color: #333;
    border-radius: 5px;
}

.newsletter-signup button {
    margin-left: 10px;
    background-color: #0585e4; /* Consistent with other CTA buttons */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-signup button:hover {
    background-color: #0465b2; /* Darker blue on hover */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #666; /* Lighter text for less emphasis on bottom text */
    border-top: 1px solid #e0e0e0; /* Lighter line for subtlety */
    padding-top: 10px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .newsletter-signup {
        flex-direction: column;
    }

    .newsletter-signup input, .newsletter-signup button {
        width: 100%; /* Full width for easier interaction on mobile */
        margin: 5px 0;
    }
}
