.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #141e3f, #367162);
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
    padding: 2rem;
  }
  
  .forgot-password h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .forgot-password-form {
    background: #ffffff;
    color: #141e3f;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .forgot-password-form label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .forgot-password-form input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .forgot-password-form input:focus {
    border: 1px solid #367162;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 204, 153, 0.5);
  }
  
  .forgot-password-form button {
    background: #367162;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .forgot-password-form button:hover {
    background: #367162;
    transform: scale(1.05);
  }
  
  .error-message {
    color: #ff9900;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .success-message {
    text-align: center;
    color: #ffffff;
  }
  
  .success-message h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .success-message .go-login {
    background: #367162;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .success-message .go-login:hover {
    background: #367162;
    transform: scale(1.05);
  }
  .password-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-container input {
    flex: 1;
    padding-right: 30px; /* Space for the icon */
  }
  
  .toggle-password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #888;
  }
  
  .toggle-password-icon:hover {
    color: #555;
  }
  