/* src/components/CommunityNews/RecentNews.module.css */

.recentNews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .title {
    font-size: 20px;
    font-weight: 700;
    color: #434649;
    margin: 0;
  }
  
  .newsList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  